<nav class="navbar navbar-light" style="background-color: #bce4f9;">
  <form [formGroup]="formGroup" class="container-flex-full flex-column">
    <div class="row-flex m-0 justify-content-between align-items-center">
      <div class="col-md-2 col-sm-2 px-3 hide-mobile">
        <h1 class="my-0">{{ categoryName }}</h1>
      </div>
      <div class="col-md-4 col-sm-6 px-3">
        <ng-select
          [searchable]="false"
          [clearable]="false"
          [selectOnTab]="true"
          labelForId="algorithm"
          formControlName="algorithm"
          [items]="availableAlgorithms"
          placeholder="Algorithm"
          bindLabel="name"
        ></ng-select>
      </div>
      <div
        class="col-md-6 col-sm-6 px-3 my-md-0 my-2 d-flex justify-content-end"
      >
        <div *ngIf="!!error" class="row px-3 m-0 alert alert-danger">
          {{ error }}
        </div>
        <button class="btn btn-warning" (click)="toggleView()">
          Toggle view
        </button>

        <button class="btn btn-success" (click)="run()">Run</button>
      </div>
    </div>
  </form>
</nav>
