<div class="flex-container-centered">
  <form [formGroup]="formGroup" class="flex-container-centered flex-column">
    <div *ngIf="!!error" class="row m-0 alert alert-danger">{{ error }}</div>

    <div class="row m-0 d-flex justify-content-between align-items-end">
      <div class="col-3 col-xs-4 px-4">
        <label for="algorithm">Algorithm</label>
        <ng-select
          [searchable]="false"
          [clearable]="false"
          [selectOnTab]="true"
          labelForId="algorithm"
          formControlName="algorithm"
          [items]=""
          placeholder="Algorithm"
          bindLabel="name"
        ></ng-select>
      </div>
      <div class="col-3 col-xs-4 px-4">
        <label for="language">Language</label>
        <ng-select
          [searchable]="false"
          [clearable]="false"
          [selectOnTab]="true"
          labelForId="language"
          formControlName="language"
          [items]="languages"
          placeholder="Language"
          bindLabel="name"
          bindValue="code"
        ></ng-select>
      </div>
      <div class="col-3 col-xs-4 px-4">
        <label for="theme">Theme</label>
        <ng-select
          [searchable]="false"
          [clearable]="false"
          [selectOnTab]="true"
          labelForId="theme"
          formControlName="theme"
          [items]="themes"
          placeholder="Theme"
          bindLabel="name"
          bindValue="code"
        ></ng-select>
      </div>
      <div class="col-3 col-xs-12 px-4 d-flex justify-content-end">
        <button class="btn btn-primary mr-1" (click)="format()">
          Format code
        </button>
        <button class="btn btn-success" (click)="run()">Run</button>
      </div>
    </div>
    <div class="row m-0 h-100 justify-content-center align-items-center">
      <app-code-editor-base
        class="w-100 h-100 p-4"
        formControlName="code"
        [theme]="theme"
      ></app-code-editor-base>
    </div>
  </form>
</div>
