<div class="container-centered-flex px-0">
  <form [formGroup]="formGroup" class="container-flex-full flex-column">
    <div class="row-flex m-0 justify-content-between align-items-end">
      <div class="col px-3">
        <label for="algorithm">Algorithm</label>
        <ng-select
          [searchable]="false"
          [clearable]="false"
          [selectOnTab]="true"
          labelForId="algorithm"
          formControlName="algorithm"
          [items]="availableAlgorithms"
          placeholder="Algorithm"
          bindLabel="name"
        ></ng-select>
      </div>

      <div class="col px-3">
        <label for="language">Language</label>
        <ng-select
          [searchable]="false"
          [clearable]="false"
          [selectOnTab]="true"
          labelForId="language"
          formControlName="language"
          [items]="availableLanguages"
          placeholder="Language"
          bindLabel="name"
        ></ng-select>
      </div>
      <div class="col-md-4 col-12 px-3 my-md-0 my-2 d-flex justify-content-end">
        <button class="btn btn-danger mr-1" (click)="format()">
          Format code
        </button>
        <button class="btn btn-success" (click)="run()">Run</button>
      </div>
    </div>
    <div *ngIf="!!error" class="row px-3 m-0 alert alert-danger">
      {{ error }}
    </div>

    <div class="row-flex-mb-0 h-90 m-0 centered-flex">
      <app-code-editor-base
        formControlName="code"
        class="h-100 col-12 px-0"
      ></app-code-editor-base>
    </div>
  </form>
</div>
