<div class="container-centered-flex">
  <div class="w-95 h-95 d-flex centered-flex" #gridRef>
    <div>
      <ng-container *ngFor="let row of grid; index as i">
        <div class="container-flex flex-direction-row centered-flex">
          <app-pathfind-node
            *ngFor="let node of row"
            [node]="node"
            (drop)="onDrop($event, node)"
            (dragover)="allowDrag($event)"
            (mousedown)="onMouseDown(node)"
            (mouseup)="onMouseUp(node)"
            (mouseover)="onMouseOver(node)"
            (tap)="onTap(node)"
          >
            <div
              *ngIf="node.isFinishPoint || node.isStartingPoint"
              class="container-centered-flex"
            >
              <span (dragstart)="onDrag($event, node)" draggable="true">
                <fa-icon
                  *ngIf="node.isFinishPoint"
                  [icon]="flagIcon"
                  [size]="'lg'"
                ></fa-icon>
                <fa-icon
                  *ngIf="node.isStartingPoint"
                  [icon]="actorIcon"
                  [size]="'2x'"
                  style="color: darkmagenta;"
                ></fa-icon>
              </span>
            </div>
          </app-pathfind-node>
        </div>
      </ng-container>
    </div>
  </div>
</div>
