.arrow-container {
  background-color: black;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid black;
  box-shadow: black 1px 1px;
}

.editor {
  background-color: white;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid black;
  box-shadow: black 1px 1px;
}

.side-menu {
  position: absolute;
  left: 0px;
  z-index: 99999999;
  max-width: 720px;
  @media screen and (max-width: 720px) {
    max-width: 100%;
  }
}

.hide-arrow-mobile {
  @media screen and (max-width: 720px) {
    display: none !important;
  }
}
