<div
  class="container-flex-full side-menu"
  [@openClose]="isOpen ? 'open' : 'close'"
  (panleft)="onPanLeft()"
>
  <div class="col editor px-0" [@visibleHidden]="isOpen ? 'visible' : 'hidden'">
    <app-code-editor
      [ngClass]="{ 'remove-padding': !isOpen }"
    ></app-code-editor>
  </div>
  <div (panright)="onPanRight()" class="d-flex align-items-center">
    <div class="arrow-container">
      <fa-icon
        *ngIf="isOpen"
        [icon]="leftArrow"
        class="text-white"
        [size]="'2x'"
        (click)="toggle()"
      ></fa-icon>
      <fa-icon
        *ngIf="!isOpen"
        [icon]="rightArrow"
        class="text-white"
        [size]="'2x'"
        (click)="toggle()"
      ></fa-icon>
    </div>
  </div>
</div>
